# Variable

In [ ]:
x=4
print(x)

4

In [ ]:
name="Anshif"
Name="fathima"
name="arjun"
print(name)

arjun

In [ ]:
1name="Anshif"
print(name)

SyntaxError: invalid decimal literal (<ipython-input-11-8c1600f534ea>, line 1)

In [ ]:
x=795
y=26
z=x*y
print(z)

20670

In [ ]:
payment_day=795
days_of_working=26
total_salary=payment_day*days_of_working
print(total_salary)

20670

In [ ]:
x,y,z="fruits","markets","computer"
print(x,y,z)

fruits markets computer

## Comments

In [ ]:
print("Hello World")#this prints hello world

Hello World

In [ ]:
'''djhlk
jhgkhjg
jhkl'''
print("hello world")

hello world

# Data types

In [ ]:
x="hello python" # this is string
y=123 # this is integer
z=1.23 # this is float
a=True # this is boolean
b="123" # this is string
print(type(b))

<class 'str'>

In [ ]:
x=5
y=7
print(x+y)

12

In [ ]:
print(x-y)

-2

In [ ]:
print(x*y)

35

In [ ]:
print(x/y)

0.7142857142857143

In [ ]:
print(x%y)

5

## Coversions

In [ ]:
x=123
c=str(x)
print(type(c))

<class 'str'>

In [ ]:
x=123
a=float(x)
print(a)

123.0

In [ ]:
c=1.8
d=round(c)
print(d)

2

In [ ]:
# a="fathima"
# c=int(a)
# print(c)  # ValueError: invalid literal for int() with base 10: 'fathima'

In [ ]:
x="hello"
y="python"
var=x+y
print(var)

hellopython

# Strings

In [ ]:
x="array"
print(x[4])

y

In [ ]:
x="array"
print(x[0])

a

In [ ]:
Text="hello,let's start coding"
print("start" in Text)

True

In [ ]:
text="hello,let's start coding"
print("hello" not in text)

False

## Slicing

In [ ]:
x="hy my name is python"
print(x[14:21])

python

In [ ]:
x="hy my name is python"
print(x[6:11])

name

In [ ]:
x="hy my name is python"
print(x[1::2])

ym aei yhn

In [ ]:
a="thisesfreeteriod"
print(a[0:4]+"i"+a[5:10]+"p"+a[11:])

thisisfreeperiod

In [ ]:
a="mydameisfadhima"
print(a[0:2]+"n"+a[3:10]+"t"+a[11:])

mynameisfathima

In [ ]:
s="fathima"
print(s[1::3])

ai

In [ ]:
a="fathima"
print(a[::-1]) #for reversing

amihtaf

In [ ]:
s="fathima"
print(s[-4:-1])

him

In [ ]:
a="hello python"
print(a.upper())

HELLO PYTHON

In [ ]:
a="HELLO PYTHON"
print(a.lower())

hello python

In [ ]:
a="       Hello python "
print(a.strip())

Hello python

In [ ]:
a="Hello Python"
print(a.replace("H","J"))

Jello Python

In [ ]:
a="hello, python"
print(a.split(","))

['hello', ' python']

In [ ]:
a="my name is fathima"
print(a.split(" "))

['my', 'name', 'is', 'fathima']

In [ ]:
age="20"
a="My name is fathima,and i am {}"
print(a.format(age))

My name is fathima,and i am 20

In [ ]:
amount=4000
orderno=2500
quantity=10
myorder="i want {} of my orderno {} for {} rupees."
print(myorder.format(quantity,orderno,amount))

i want 10 of my orderno 2500 for 4000 rupees.

escape character

In [ ]:
txt="we are the so-called \"vikings\" from the north"
print(txt)

we are the so-called "vikings" from the north

## qus

1.Write a program that removes whitespace from the following strings, then print out the strings with the
whitespace removed:

string1 = " Filet Mignon"

string2 = "Brisket "

string3 = " Cheeseburger "

2. Write a program that takes input from the user and displays the input in uppercase.

3. Write a program that takes input from the user and displays the number of characters in the input.

4. Write a program that uses input() twice to get two numbers from the user, multiplies the numbers together,
and displays the result. If the user enters 2 and 4, then your program should print the following text:

Output: The product of 2 and 4 is 8.0

5. Create a float object named weight with the value 0.2, and create a string object named animal with the value
"newt". Then use these objects to print the following string using only string concatenation:

Output: 0.2 kg is the weight of the newt.

6. Display the same string by using .format() and empty {} placeholders.

7. Display the same string using an f-string

In [ ]:
#1
string1="   filet mignon"
string2="brisket   "
string3="    cheeseburger"
print(string1.strip())
print(string2.strip())
print(string3.strip())

filet mignon
brisket
cheeseburger

In [ ]:
#2
a="hello python"
print(a.upper())

HELLO PYTHON

In [ ]:
#3
a="hello world"
print(len(a))

11

In [ ]:
#4
enter1=2
enter2=4
result=8.0
a="the product of {} and {} is {}"
print(a.format(enter1,enter2,result))

the product of 2 and 4 is 8.0

In [ ]:
#5
weight=0.2
animal='newt'
a="{} is the weight of {}"
print(a.format(weight,animal))

0.2 is the weight of newt

In [ ]:
#7
age=20
print(f"iam fathima {age}")

iam fathima 20

#Python boolean

In [ ]:
print(10==10)

True

In [ ]:
print(10<9)

False

In [ ]:
print(bool("hello"))

True

In [ ]:
print(bool("'apple','cherry','grapes'"))

True

In [ ]:
print(bool())

False

In [ ]:
x=200
print(isinstance(x,int))

True

# Operators

## Arithmetic operators

In [ ]:
a=3
b=6
print(a+b)

9

In [ ]:
a=34
b=16
print(a-b)

18

In [ ]:
a=34
b=5
print(a/b)

6.8

In [ ]:
a=3
b=3
print(a**b)

27

In [ ]:
a=10
b=8
print(a//b)

1

In [ ]:
a=45
b=8
print(a%b)

5

##Assignment operators

In [ ]:
x=6
x=x+6
print(x)

12

In [ ]:
x=6
x*=2
print(x)

12

In [ ]:
x=12
x/=5
print(x)

2.4

In [ ]:
x=10
x//=8
print(x)

1

In [ ]:
x=34
x%=2
print(x)

0

In [ ]:
x=45
x&=23
print(x)

5

In [ ]:
x=14
x|=4
print(x)

14

In [ ]:
x=65
x^=6
print(x)

71

In [ ]:
x=5
x<<=2
print(x)

20

In [ ]:
x=5
x>>=2
print(x)

1

##Logical operators

In [ ]:
x=5;y=6
print(x>1 and y<10)

True

In [ ]:
x=5;y=6
print(x>6 or y<10 )

True

In [ ]:
x=5
print(not x>1)

False

In [ ]:
x=5;y=6
print(x is y)

False

In [ ]:
x=5;y=6
print(x is not y)

True

In [ ]:
nums=[1,2,3,4,5]
print(1 in nums)

True

In [ ]:
nums=[1,2,3,4,5]
print(1 not in nums)

False

In [ ]:
x=5;y=10
z=x & y
print(z)

0

In [ ]:
x=5;y=10
z=x | y
print(z)

15

In [ ]:
x=5;y=10
z=x ^ y
print(z)

15

#Lists

In [ ]:
fruits=["banana","apple",'orange']
print(fruits[1])

apple

In [ ]:
fruits=["banana","apple","orange"]
print(fruits[-1])

orange

In [ ]:
fruits=["apple","orange","mango","kiwi","pineapple"]
print(fruits[1:5])

['orange', 'mango', 'kiwi', 'pineapple']

In [ ]:
fruits=["apple","orange","mango","kiwi","pineapple"]
print(fruits[:4])

['apple', 'orange', 'mango', 'kiwi']

In [ ]:
fruits=["apple","orange","mango","kiwi","pineapple"]
print(fruits[1:])

['orange', 'mango', 'kiwi', 'pineapple']

In [ ]:
fruits=["apple","orange","mango","kiwi","pineapple"]
fruits[1]='banana'
print(fruits)

['apple', 'banana', 'mango', 'kiwi', 'pineapple']

In [ ]:
fruits=["apple","orange","mango","kiwi","pineapple"]
fruits[2:4]='watermelon','green apple'
print(fruits)

['apple', 'orange', 'watermelon', 'green apple', 'pineapple']

In [ ]:
fruits=["apple","banana","orange"]
fruits[1:2]=["kiwi"]
print(fruits)

['apple', 'kiwi', 'orange']

In [ ]:
fruits=["apple","banana","cherry"]
fruits.insert(1,"orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
fruits=["apple","banana","cherry"]
fruits2=("mango","pineapple","papaya")
fruits.extend(fruits2)
print(fruits)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
fruits=["apple","banana","cherry"]
fruits.remove("apple")
print(fruits)

['banana', 'cherry']

In [ ]:
fruits=["apple","banana","cherry"]
c=fruits.pop(1)
print(fruits)

['apple', 'cherry']

In [ ]:
fruits=["apple","banana","cherry"]
c=fruits.pop()
print(fruits)

['apple', 'banana']

In [ ]:
fruits=["apple","banana","cherry"]
del fruits[1]
print(fruits)

['apple', 'cherry']

In [ ]:
fruits=["apple","banana","cherry"]
fruits.pop()
print(fruits)

['apple', 'banana']

In [ ]:
fruits=["apple","banana","cherry"]
del fruits
print(fruits)

NameError: name 'fruits' is not defined

In [ ]:
fruits=["apple","banana","cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
fruits=["apple","banana","cherry"]
fruits.clear()
print(fruits)

[]

In [ ]:
fruits=["apple","banana","cherry"]
myfruits=fruits.copy()
print(myfruits)

['apple', 'banana', 'cherry']

#Tuples

In [ ]:
tu = (1,2,3,4)

In [ ]:
type(tu)

tuple

In [ ]:
tu[0]

In [ ]:
tu[-1]

In [ ]:
tu[1:]

In [ ]:
tu[0:3:2]

In [ ]:
tu[1::2]

In [ ]:
tu[::-1]

In [ ]:
tu[0]=5

In [ ]:
a=list(tu)
a

In [ ]:
a[0]=5
a

In [ ]:
tu=tuple(a)
tu

In [ ]:
fruits=("apple","orange","mango","kiwi")
print(fruits)

In [ ]:
type(fruits)

In [ ]:
fruits[0]

In [ ]:
fruits[::-1]

In [ ]:
a=list(fruits)
a

In [ ]:
a[1]="strawberry"
a

TypeError: 'int' object does not support item assignment

In [ ]:
fruits=tuple(a)
fruits

In [ ]:
print(len(fruits))

In [ ]:
variety=(32,"apple",4.2,True)
print(variety)

In [ ]:
fruits=("apple","banana","cherry")
(green,yellow,red)=fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

#Sets

In [ ]:
fruits={"apple","banana","cherry"}
fruits.add("orange")
print(fruits)

{'orange', 'banana', 'cherry', 'apple'}

In [ ]:
fruits={"apple","banana","cherry"}
mylist=["kiwi","orange"]
fruits.update(mylist)
print(fruits)

{'banana', 'apple', 'orange', 'cherry', 'kiwi'}

In [ ]:
fruits.remove("banana")
print(fruits)

{'apple', 'orange', 'cherry', 'kiwi'}

In [ ]:
fruits.discard("apple")
print(fruits)

{'orange', 'cherry', 'kiwi'}

In [ ]:
fruits={"apple","banana","cherry"}
x=fruits.pop()
print(x)
print(fruits)

banana
{'cherry', 'apple'}

In [ ]:
fruits={"apple","banana","cherry"}
del fruits
print(fruits)

NameError: name 'fruits' is not defined

In [ ]:
fruits={"apple","banana","cherry"}
fruits.clear()
print(fruits)

set()

In [ ]:
set1={"A","B","C"}
set2={1,2,3}
set3=set1.union(set2)
print(set3)

{'A', 1, 2, 3, 'C', 'B'}

In [ ]:
set1={"a","b","c"}
set2={1,2,3}
set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
z=x.intersection(y)
print(z)

{'apple'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
x.symmetric_difference_update(y)
print(x)

{'microsoft', 'cherry', 'banana', 'google'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
z=x.symmetric_difference(y)
print(z)

{'microsoft', 'cherry', 'banana', 'google'}

In [ ]:
set1={1,2,3,4}
set2={3,4,5,6}
set3=set1|set2
print(set3)

{1, 2, 3, 4, 5, 6}

In [ ]:
set3=set1&set2
print(set3)

{3, 4}

In [ ]:
set3=set1-set2
print(set3)

{1, 2}

In [ ]:
set3=set1^set2
print(set3)

{1, 2, 5, 6}

In [ ]:
set1={1,2,3}
set2={1,2,3,4,5}
set3=set1<=set2
print(set3)

True

In [ ]:
set3=set1>=set2
print(set3)

False

In [ ]:
set1={1,2,3}
set2={4,5,6}
set3=set1.isdisjoint(set2)
print(set3)

True

#Questions

In [ ]:
#1
string1="   filet mignon"
print(string1.strip())

filet mignon

In [ ]:
string2="Brisket   "
print(string2.strip())

Brisket

In [ ]:
string3="    cheeseburger"
print(string3.strip())

cheeseburger

In [ ]:
#2
a="hello world"
print(a.upper())

HELLO WORLD

In [ ]:
#3
a="hello python"
print(len(a))

12

In [ ]:
#4
enters=2
product=4
result=8.0
a="The product of {} and {} is {}"
print(a.format(enters,product,result))

The product of 2 and 4 is 8.0

In [ ]:
#5
weight=0.2
animal="Newt"
a="{} kg is the weight of the {}"
print(a.format(weight,animal))

0.2 kg is the weight of the Newt

In [ ]:
#6
a=[1,2,3,4]
print(type(a))

<class 'list'>

In [ ]:
#9
word="abcdefghij"
print(word[:3]+word[3:])

abcdefghij

In [ ]:
#10
a={"o","p","q","r"}
a.add("s")
print(a)

{'s', 'o', 'p', 'r', 'q'}

In [ ]:
#11
a.remove("s")
print(a)

{'o', 'p', 'r', 'q'}

In [ ]:
#12
setx={"green","blue"}
sety={"blue","yellow"}
z=setx.intersection(sety)
print(z)

{'blue'}

In [ ]:
#13
fruits={"apple","banana","cherry"}
fruits.clear()
print(fruits)

set()

In [ ]:
#14
fruits=("apple","kiwi","blueberry")
(red,green,blue)=fruits
print(red)
print(green)
print(blue)

apple
kiwi
blueberry

In [ ]:
#15
tu=('p','y','t','h','o','n')
a=list(tu)
print(a)

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
#16
A=(1,"a",2,"b",3,"c",4,"d")
A[-4]

3

In [ ]:
#17
tu=('p','y','t','h','o','n')
tu[4:5]

('o',)

#Dictionaries

In [ ]:
cars={
    "brand":"BNW",
    "model":"2nd series",
    "year":2004
}
print(cars)

{'brand': 'BNW', 'model': '2nd series', 'year': 2004}

In [ ]:
x=cars.get("model")
print(x)

2nd series

In [ ]:
x=cars.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [ ]:
x=cars.values()
print(x)

dict_values(['BNW', '2nd series', 2004])

In [ ]:
cars["year"]=2005
print(cars)

{'brand': 'BNW', 'model': '2nd series', 'year': 2005}

In [ ]:
cars["color"]="blue"
print(cars)

{'brand': 'BNW', 'model': '2nd series', 'year': 2005, 'color': 'blue'}

In [ ]:
x=cars.items()
print(x)

dict_items([('brand', 'BNW'), ('model', '2nd series'), ('year', 2005), ('color', 'blue')])

In [ ]:
cars.pop("year")
print(cars)

{'brand': 'BNW', 'model': '2nd series', 'color': 'blue'}

In [ ]:
cars.popitem()
print(cars)

{'brand': 'BNW', 'model': '2nd series'}

In [ ]:
del cars["model"]
print(cars)

{'brand': 'BNW'}

In [ ]:
cars.clear()
print(cars)

{}

In [ ]:
thisdict={
  "brand":"ford",
  "model":"mustang",
  "year":1964
}
mydict=dict(thisdict)
print(mydict)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [ ]:
mydict=thisdict.copy()
print(mydict)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [ ]:
flowers={
    "child1":{
        "Name":"Jasmin",
        "Color":"White"
    },
    "child2":{
        "Name":"Tulip",
        "Color":"Blue"
    },
    "child3":{
      "Name":"Hibiscus",
      "Color":"Red"
    }
      }


print(flowers)

{'child1': {'Name': 'Jasmin', 'Color': 'White'}, 'child2': {'Name': 'Tulip', 'Color': 'Blue'}, 'child3': {'Name': 'Hibiscus', 'Color': 'Red'}}

In [ ]:
child1={
    "name":"arjun",
    "year":2000

       }
child2={
        "name":"vignesh",
        "year":2001
       }

child3={
        "name":"arya",
        "year":2018
       }
friends={
   "no.1":child1,
    "no.2":child2,
    "no.3":child3
}
print(friends)

{'no.1': {'name': 'arjun', 'year': 2000}, 'no.2': {'name': 'vignesh', 'year': 2001}, 'no.3': {'name': 'arya', 'year': 2018}}

#Questions


16.Write a Python program to concatenate following dictionaries to create a new one.

dic1={1:10, 2:20}

dic2={3:30, 4:40}

dic3={5:50,6:60}

17.Write a Python program to check whether a given key already exists in a dictionary.


19.Write a Python program to combine two dictionary adding values for common keys

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

15.Write a Python script to add a key to a dictionary
Sample Dictionary : {0: 10, 1: 20} Expected Result : {0: 10, 1: 20, 2: 30}

In [ ]:

numbers={
    0:10,
    1:20,
    2:30
}
print(numbers)

{0: 10, 1: 20, 2: 30}

18.Write a Python program to remove a key from a dictionary

In [ ]:

cars={
    "brand":"BNW",
    "model":"2nd series",
    "year":2004
}
cars.pop("year")

2004

20.create list using following dictionary

d1 = {'a': 100, 'b': 200, 'c':300} d2 = {'a': 600, 'b': 400, 'd':500}

expected output:[100,200,300,400,500,600]

In [ ]:

d1={'a':100,'b':200,'c':300}
d2={'a':400,'b':500,'c':600}
value_list=list(d1.values())+list(d2.values())
print(value_list)

[100, 200, 300, 400, 500, 600]

21.Write a Python program to find no of pairs in dict

{'a': 5, 'b': 14, 'c': 32, 'd': 35, 'e': 24, 'f': 100, 'g': 57, 'h': 8, 'i': 100}

In [ ]:

d={'a':5,'b':14,'c':32,'d':35,'e':24,'f':100,'g':57,'h':8,'i':100}
a=len(d)
print(f"number of pairs:{a}")

number of pairs:9

#Conditional statements

In [ ]:
a=33
b=200
if b>a:
  print("b is greater than a")

b is greater than a

In [ ]:
a=33
b=33
if b>a:
  print("b is greater than a")
elif a==b:
  print("a is equal to b")

a is equal to b

In [ ]:
a=200
b=33
if b>a:
  print("b is greater than a")
elif a==b:
  print("a is equal to b")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
a=80
if a==100:
  print("phone")
elif a>=80:
  print("cycle")
else:
  print("nothing")

cycle

In [ ]:
a=2
b=330
print("A")if a>b else print("B")

B

In [ ]:
a=200
b=33
c=500
if a>b and c>a:
  print("both conditions are true")

both conditions are true

In [ ]:
if a>b or c<a:
  print("atleat one of the conditon is true")

atleat one of the conditon is true

In [ ]:
x=40
if x>10:

  print('above 10')
  if x>20:
    print("above 20")

else:
  print("less")

above 10
above 20

In [ ]:
a=int(input("mark: "))
if a>=90:
  print("A+")
elif a>=80:
    print("A")
elif a>=70:
  print("B+")
elif a>=60:
  print("B")
elif a>=50:
  print("C+")
elif a>=40:
  print("C")
else:
  print("fail")

mark: 40
C

In [ ]:
x=41
if x>10:
  print("Above ten,")
  if x>20:
    print("and also above 20!")
  else:
      print("but not above 20")

Above ten,
and also above 20!

In [ ]:
x=85
if x>70:
  print("above 70,")
  if x>90:
    print("and also above 90!")
  else:
    print("not above 70")

above 70,
not above 70

In [ ]:
# Given a number, print whether it is even or odd.
a=int(input("enter a number: "))
if a%2==1:
  print("given number is odd")
else:
  print("given number is even")

enter a number: 5
given number is odd

In [ ]:
# Ask the user for their age and print whether they are eligible to vote (18 or older).
a=int(input("age: "))
if a>=18:
  print("eligible")
else:
  print("not eligible")

age: 14
not eligible

In [ ]:
# Given a number, check if it is equal to 10
a=56
if a==10:
  print("equal to ten")
else:
  print("not equal to ten")

not equal to ten

In [ ]:
a="fathima"
b=input("enter password: ")
if b==a:
  print("you are logged in")
else:
  print("please try again")

enter password: jhgfik
please try again

In [ ]:
a=int(input("enter your weight: "))
if a>=100:
  print("over weight")
elif a>=70:
  print("normal weight")
else:
  print("under weight")

enter your weight: 23
under weight

In [ ]:
a=6
if a>5:
  pass

In [ ]:
a="fathima"
b=1234
x=input("username: ")
y=int(input("password: "))
if a==x and b==y:
  print("you are signed in!")
elif a!=x and b!=y:
  print("username and password are incorrect")
elif a!=x:
  print("incorrect username!")
else:
  print("incorrect password!")

username: fathima
password: 4567890
incorrect password!

In [ ]:
balance=14000
a="fathima"
b=4444
x=input("Username: ")
y=int(input("Password: "))

if a==x and b==y:
  print("you are signed in!")
  z=int(input("enter withdraw  amount: "))
  if z==0:
    print("enter proper amount!")
  elif balance>z:
    print("succesfully complete!", balance-z)
  else:
    print("insufficient amount!")

elif a!=x and b!=y:
  print("username and password are incorrect!")
elif a!=x:
  print("incorrect username!")
else:
  print("incorrect password!")

Username: fathima
Password: 4444
you are signed in!
enter withdraw  amount: 0
enter proper amount!

In [ ]:
a=int(input("enter a number: "))
for i in range(2,a):
 if a % i== 0:
   print("is not prime number")
   break
else:
  print("is prime number")

enter a number: 5
is prime number

#looping statements

In [ ]:
print("fathima")

fathima

In [ ]:
for i in range(10):
  print("fathima")

fathima
fathima
fathima
fathima
fathima
fathima
fathima
fathima
fathima
fathima

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

##while loop

In [ ]:
A=[1,2,3,4]
while A:
  print(A.pop())

4
3
2
1

In [ ]:
a=[1,2,3,4]
for i in a:
  print(i)

1
2
3
4

In [ ]:
i=10
while i>4:
  i-=1
  print(i)

9
8
7
6
5
4

In [ ]:
i=0
while i<4:
  i+=1
  print(i)

1
2
3
4

In [ ]:
a='loop in python'
i=0
while i<len(a):
  i+=1
  pass

print('value of i:',i)

value of i: 14

In [ ]:
for i in range(1,10):
  if i==8:
    continue
  print(i)

1
2
3
4
5
6
7
9

In [ ]:
i=0
a='loops in python'
while i<len(a):
  if a[i]=='e' or a[i]=='s':
    i+=1
    continue
  print('current letter:',a[i])
  i+=1

current letter: l
current letter: o
current letter: o
current letter: p
current letter:
current letter: i
current letter: n
current letter:
current letter: p
current letter: y
current letter: t
current letter: h
current letter: o
current letter: n

In [ ]:
i=0
a='loops in python'
while i<len(a):
  if a[i]=='p' or a[i]=='h':
    i+=1
    break
  print('current letter:',a[i])
  i+=1

current letter: l
current letter: o
current letter: o

In [ ]:
i=0
while i<4:
  i+=1
  print(i)

else:
  print('no break\n')

1
2
3
4
no break

In [ ]:
i=0
while i<4:
  i+=1
  print(i)
  break
else:
  print("no break")

1

##for loop

In [ ]:

l=["hello","for","python"]
for i in l:
  print(i)

hello
for
python

In [ ]:

t=("hello","for","python")
for i in t:
  print(i)

hello
for
python

In [ ]:
for x in 'python developer':
  if x=='e' or x=='o':
    continue
  print('current letter:',x)

current letter: p
current letter: y
current letter: t
current letter: h
current letter: n
current letter:
current letter: d
current letter: v
current letter: l
current letter: p
current letter: r

In [ ]:
for x in 'python developer':
  if x=='e' or x=='o':
    continue # used to skip

print('current letter:',x)

current letter: r

In [ ]:
for x in 'python developer':
  if x=='e' or x=='o':
    break
  print('current letter:',x)

current letter: p
current letter: y
current letter: t
current letter: h

In [ ]:
for x in 'python developer':
  if x=='e' or x=='o':
    break
print('current letter:',x)

current letter: o

In [ ]:
for x in 'python developer':
  pass
print("last letter:",x)

last letter: r

In [ ]:
print("fathima")

fathima

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(2,101,2):
   print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
for i in range(10):
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(10):
  print(i,end="*")# end=straight line

0*1*2*3*4*5*6*7*8*9*

In [ ]:
l=[10,20,30,40,50]
for i in range(len(l)):
  print(l[i],end=" ")

10 20 30 40 50

In [ ]:
sum=0
for i in range(1,11):
  sum=sum+i
print("sum of first 10 natural numbers:",sum)

sum of first 10 natural numbers: 55

In [ ]:
factorial=1
for i in range(1,11):
  factorial=factorial*i
print("factorial of first 10 natural numbers:",factorial)

factorial of first 10 natural numbers: 3628800

In [ ]:
x=int(input("enter a number: "))
factorial=1
for i in range(1,x+1):
  factorial=factorial*i
print(f"factorial of {x} = {factorial}")

enter a number: 5
factorial of 5 = 120

In [ ]:
for i in range(1,4):
  print(i)
else:
  print("no break\n")

1
2
3
no break

In [ ]:
for i in range(1,4):
  print(i)
  break
else:
  print("no break\n")

1

### nested loop

In [ ]:
adj=["red","big","tasty"]
fruits=["apple","banana","cherry"]
for x in adj: # outerloop
  for y in fruits:  # innerloop
    print(x,y)

#nested loop vannal aadyam outerloop oru thavana work cheyyum
# ennitt innerloop full aayi work cheythathin shesham ayrkm outerloop onnukoodi karanga then repeat

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Multiple of 3 and 5:
Check if a number is divisible by both 3 and 5, and print a special message if it is.

In [ ]:
for i in range(1,20):
  if i % 3==0 and i % 5==0:
    print(i)
  else:
    print(i,"is not divisible by 3 and 5")

1 is not divisible by 3 and 5
2 is not divisible by 3 and 5
3 is not divisible by 3 and 5
4 is not divisible by 3 and 5
5 is not divisible by 3 and 5
6 is not divisible by 3 and 5
7 is not divisible by 3 and 5
8 is not divisible by 3 and 5
9 is not divisible by 3 and 5
10 is not divisible by 3 and 5
11 is not divisible by 3 and 5
12 is not divisible by 3 and 5
13 is not divisible by 3 and 5
14 is not divisible by 3 and 5
15
16 is not divisible by 3 and 5
17 is not divisible by 3 and 5
18 is not divisible by 3 and 5
19 is not divisible by 3 and 5

In [ ]:
a=int(input("mark: "))
if a>=100:
  print("iphone")
elif a>=80:
  print("Samsung")
else:
  print("Nothing")

mark: 79
Nothing

In [ ]:
#Ask the user to input three numbers and print the greatest one using if-elif-else.

a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
c=int(input("Enter third number: "))
if a>b and a>c:
  print("a is greater")
elif b>a and b>c:
  print("b is greater")
else:
  print("c is greater")

Enter first number: 10
Enter second number: 20
Enter third number: 30
c is greater

In [ ]:
#Input a number and print its multiplication table up to 10.
a=int(input("enter a number: "))
for i in range(1,11):
 print(i,"x",a,"=",i*a)

enter a number: 10
1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100

In [ ]:
a=5
factorial=1
for i in range(1,a+1):
  factorial=factorial*i
print("factorial of numbers:",factorial)

factorial of numbers: 120

In [ ]:
password=1234
for i in range(3):
  x=int(input("enter password: "))
  if x==password:
    print("your signed in ")
    break
  else:
    print(f"wrong password! {2-i} left")

enter password: 1234
your signed in

In [ ]:
username="fathima"
password=12345678
for i in range(3):
  x=input("Enter username: ")
  y=int(input("Enter password: "))
  if x==username and y==password:
    print("your signed in")
    break
  elif x!=username and y!=password:
    print(f"Wrong username and password! {2-i} left")
  elif x!= username:
    print(f"wrong username! {2-i} left")
  else:
    print(f"Wrong password! {2-i} left")

Enter username: fathimma
Enter password: 1234555
Wrong username and password! 2 left
Enter username: fathinmna
Enter password: 12345678
wrong username! 1 left
Enter username: fathima
Enter password: 12345678890
Wrong password! 0 left

In [ ]:
import random
systemcount=0
mycount=0
for i in range(5):
  system=random.randrange(1,5)
  x=int(input("guess the number: "))
  print(f"system= {system}")
  if system==x:
    print(f"you win")
    mycount=mycount+1
  else:
    print("you lose")
    systemcount=systemcount+1
if systemcount>mycount:
  print(f"system win {systemcount} ")
else:
  print(f"You win {mycount}")

guess the number: 3
system= 3
you win
guess the number: 2
system= 1
you lose
guess the number: 5
system= 4
you lose
guess the number: 1
system= 1
you win
guess the number: 2
system= 3
you lose
system win 3

In [ ]:
a=["stone","papper","sisor"]
systemcount=0
mycount=0
tie=0
for i in range(5):
  system=random.choice(a)
  x=input("enter value: ")
  print(system)
  if x=="stone" and system=="sisor":
    print("You win")
    mycount=mycount+1
  elif x=="papper" and system=="stone":
    print("You win")
    mycount=mycount+1
  elif x=="sisor" and system=="papper":
    print("You win")
    mycount=mycount+1
  elif x==system:
    print("Tie")
    tie=tie+1
  else:
    print("system win")
    systemcount=systemcount+1
if mycount>systemcount and mycount>tie:
  print(f"You win {mycount}")
elif systemcount>mycount and systemcount>tie:
  print(f"System win {systemcount}")
elif systemcount==tie:
  print("Tie")
elif mycount==tie:
  print("Tie")
elif mycount==systemcount:
  print("Tie")
else:
  print(f"Tie win {tie}")

enter value: stone
papper
system win
enter value: papper
stone
You win
enter value: stone
papper
system win
enter value: sisor
stone
system win
enter value: stone
papper
system win
System win 4

In [ ]:
a="Hi my name is fathima and iam from thriprayar hi"
b=a.lower()

c=b.split()
words={}
for i in c:
  if i in words:
    words[i]=words[i]+1
  else:
    words[i]=1

print(words)

{'hi': 2, 'my': 1, 'name': 1, 'is': 1, 'fathima': 1, 'and': 1, 'iam': 1, 'from': 1, 'thriprayar': 1}

In [ ]:
def words(a):
  b=a.lower()
  c=b.split()
  di={}
  for i in c:
    if i in di:
      di[i]=di[i]+1
    else:
      di[i]=1
  print(di)
words("hi iam iam ")

{'hi': 1, 'iam': 2}

In [ ]:
def guess(a):
  import random
  systemcount=0
  mycount=0
  for i in range(a):
    system=random.randrange(1,5)
    x=int(input("guess the number: "))
    print(f"system = {system}")
    if system==x:
      print("you win")
      mycount=mycount+1
    else:
      print("you loose")
      systemcount=systemcount+1
  if mycount>systemcount:
   print(f"You win {mycount}")
  else:
    print(f"system win {systemcount}")

guess(4)

guess the number: 1
system = 2
you loose
guess the number: 4
system = 3
you loose
guess the number: 6
system = 3
you loose
guess the number: 3
system = 3
you win
system win 3

In [ ]:
def factorial(a):
  factorial=1
  for i in range(1,a+1):
    factorial=factorial*i
  print(factorial)
factorial(5)

120

# User defined functions

In [ ]:
def add(x,y):
  print(x+y)

add(5,6)

11

In [ ]:
def hello():
  print("Iam coming from triprayar")

hello()

Iam coming from triprayar

In [ ]:
def evenOrodd(x):
  if(x%2==0):
    print("even")
  else:
    print("odd")


evenOrodd(6)
evenOrodd(7)

even
odd

In [ ]:
def add(x,y):
  print(x+y)
add(32,56)

88

In [ ]:
def mul(x,y):
  print(x*y)
mul(6,7)

42

In [ ]:
def grade(x):
  if x>=100:
    print("A+")
  elif x>=90:
    print("A")
  elif x>=80:
    print("B+")
  elif x>=70:
    print("B")
  elif x>=60:
    print("C+")
  elif x>=50:
    print("C")
  else:
    print("fail")


grade(88)
grade(55)
grade(34)

B+
C
fail

In [ ]:
def myfun(x,y=50):
  print("x: ",x)
  print("y: ",y)
myfun(10)

x:  10
y:  50

In [ ]:
def myfun(x,y=50):
  print("x: ",x)
  print("y: ",y)
myfun(10)

x:  10
y:  50

In [ ]:
myfun(30,10)

x:  30
y:  10

In [ ]:
def student(firstname,lastname):
  print(firstname,lastname)
student(firstname='python',lastname='functions')
student(firstname='hello',lastname='programmers')

python functions
hello programmers

In [ ]:
def myfun(*kids):
  print("The youngest child is "+kids[2])
myfun("Emil","Tobias","Linus")

The youngest child is Linus

In [ ]:
def myfun(*argv):
  for x in argv:
    print(x)
myfun("Welcome","to","ipcs")

Welcome
to
ipcs

In [ ]:
def myfun(**student):
  print("his first name is "+student["fname"])
myfun(fname="vignesh",lname="s")

his first name is vignesh

In [ ]:
def myfun(**kwargs):
  for key,value in kwargs.items():
    print("%s==%s"%(key,value))
myfun(first="welcome",mid="for",last="cource")

first==welcome
mid==for
last==cource

In [ ]:
def myfun(country="Norway"):
  print("i am from "+country)
myfun("Sweden")
myfun("Brazil")
myfun("India")
myfun()

i am from Sweden
i am from Brazil
i am from India
i am from Norway

In [ ]:
def myfun(xyz):
  for x in xyz:
   print(x)
fruits=["apple","orange","banana"]
myfun(fruits)

apple
orange
banana

In [ ]:
def myfun(xyz):
  for x in xyz:
   print(x)
num=[1,2,3,4,5,6,7,8,9,10]
myfun(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
def square(x):
  print(x**2)
square(8)

64

In [ ]:
def square(num):
  return num**2
print(square(2))
print(square(-4))

4
16

In [ ]:
def myfun(x):
  x[0]=30
list1=[9,11,13,15]
myfun(list1)
print(list1)

[30, 11, 13, 15]

In [ ]:
def f1():
  s='I love python'
  def f2():
    print(s)

  f2()
f1()

I love python

In [ ]:
def cube(y):
 return y*y*y

print(cube(5))

g=lambda x:x*x*x
print(g(7))

343
125

In [ ]:
def power(n):
  return lambda a:a**n


base=power(2)
print("Now power is set to 2")


print("6 power of 2= ",base(6))
base=power(5)
print("Now power is set to 5")
print("8 power of 5=",base(8))

Now power is set to 2
6 power of 2=  36
Now power is set to 5
8 power of 5= 32768

In [ ]:
a=[100,2,8,60,5,4,3,31,10,11]
filtered=filter(lambda x:x%2==0,a)
print(list(filtered))
maped=map(lambda x:x%2==0,a)
print(list(maped))

[100, 2, 8, 60, 4, 10]
[True, True, True, True, False, True, False, False, True, False]

In [ ]:
def myfun():
  x="me too"
  print(x)

s="I love python "
myfun()
print(s)

me too
I love python

In [ ]:
a=1
def f():
  print('Inside f():',a) #uses global because there is no local 'a'
def g():
  a=2  #variable 'a' is redefined as local
  print('Inside g():',a)

def h():
  global a  #uses global keyword to modify local 'a'
  a=3
  print('Inside h():',a)


print('global:',a)  #global scope
f()
print('global:',a)
g()
print('global:',a)
h()
print('global:',a)

global: 1
Inside f(): 1
global: 1
Inside g(): 2
global: 1
Inside h(): 3
global: 3

In [ ]:
def shout(text):
  return text.upper()

print(shout('Hello'))
yell=shout
print(yell('Hello'))

HELLO
HELLO

In [ ]:
def shout(text):
  return text.upper()

def whisper(text):
  return text.lower()

def greet(func):
  greeting=func("""Hi,i am created by a function passed as an argument.""")  #storing the functions in a variable
  print(greeting)

greet(shout)
greet(whisper)

HI,I AM CREATED BY A FUNCTION PASSED AS AN ARGUMENT.
hi,i am created by a function passed as an argument.

In [ ]:
def create_adder(x):
 def adder(y):
  return x+y
 return adder
adding=create_adder(15)
print(adding(10))

25

In [ ]:
def factorial(x):
  if x==1:
    return 1
  else:
    return(x*factorial(x-1))
num=5
print("The factorial of",num,"is",factorial(num))

The factorial of 5 is 120

In [ ]:
import operator
operator.add(5,6)

11

#Questions

In [ ]:
#Write a function that takes a list of numbers and returns a new list containing only the even numbers.
a=[]#list to store even numbers
def numbers(x):#function created ,passed x as argumnet
  for i in x:#use for loop to seperate list element
    if i%2==1:#condition checking-if the list reminder is one = odd
      pass
    else:
      a.append(i)  #used to add even numbers elements to another list (a)
  print(a)
x=[1,2,3,4,5,6,7,8,9,10]
numbers(x)

[2, 4, 6, 8, 10]

In [ ]:
li=[1,2,3,4,5,6,7,8,9,10]#created a list
new_li=[]#created a list to store even numbers
def even_number(li):#function created , passed list as argument
  for i in li:#to separate list element -for loop
    if i%2==0:#condition checking - if the list elements reminder is zero if yes then it even
      new_li.append(i)#if the condition is true element is added to new list
  print(new_li)#print new list
even_number(li)#function calling

[2, 4, 6, 8, 10]

In [ ]:
#Write a function that takes a list of numbers and returns a new list containing only the even numbers.

a=[11,22,33,44,55,66,77,88,99,110]
even=[]
odd=[]
def evenandodd(x):
  for i in x:
    if i%2==0:
      even.append(i)
    else:
      odd.append(i)
  print(f"even numbers = {even}")
  print(f"odd numbers = {odd}")


evenandodd(a)

even numbers = [22, 44, 66, 88, 110]
odd numbers = [11, 33, 55, 77, 99]

In [ ]:
# Create a program that counts how many vowels are in a given string.
a="my name is fathima"
vowels='aeiou'
count=0
for i in a:
  if i in vowels:
   count+=1
print(count)

0
0
0
0
0
0

In [ ]:
a="i am coming from peringottukara" #create a string
vowels="aeiou"#created vowels string
count=0#create a count variable
if i in vowels:#use for loop to seperate string(a) elements
    count+=1 #it is true then add total count vowels in the string to the count variable
    print(count)# then print count

11

In [ ]:
# Write a function that takes a number and returns the factorial of that number using a loop.

a=5
factorial=1
for i in range(1,a+1):
  factorial*=i
print(factorial)

120

In [ ]:
# Create a function that checks if a given string is a palindrome (reads the same forwards and backwards).
a="fathima"
def palindrome(x):
  if a[::-1]==a:
    print("palindrome")
  else:
    print("not palindrome")
palindrome(a)

not palindrome

In [ ]:
a=input("enter a string: ")
def palindrome(x):
  if a[::-1]==a:
    print("given string is palindrome")
  else:
    print("given string is not palindrome")
palindrome(a)

enter a string: fathima
given string is not palindrome

In [ ]:
# Write a program that prints all the numbers from 1 to 100, replacing:

# Multiples of 3 with "Fizz"

# Multiples of 5 with "Buzz"

# Multiples of both with "FizzBuzz"


for i in range(1,101):
  if i%3==0:
    print(f"{i} Fizz")
  elif i%5==0:
    print(f"{i} Buzz")
  elif i%3==0 and i%5==0:
    print(f"{i} FizzBuzz")

3 Fizz
5 Buzz
6 Fizz
9 Fizz
10 Buzz
12 Fizz
15 Fizz
18 Fizz
20 Buzz
21 Fizz
24 Fizz
25 Buzz
27 Fizz
30 Fizz
33 Fizz
35 Buzz
36 Fizz
39 Fizz
40 Buzz
42 Fizz
45 Fizz
48 Fizz
50 Buzz
51 Fizz
54 Fizz
55 Buzz
57 Fizz
60 Fizz
63 Fizz
65 Buzz
66 Fizz
69 Fizz
70 Buzz
72 Fizz
75 Fizz
78 Fizz
80 Buzz
81 Fizz
84 Fizz
85 Buzz
87 Fizz
90 Fizz
93 Fizz
95 Buzz
96 Fizz
99 Fizz
100 Buzz

In [ ]:
# Write a function that returns the maximum number in a list without using built-in functions like max()
li=[23,55,78,21,98,66,90]

def max_lst(x):
  c=0
  for i in x:
    if i>c:
      c=i
  print(c)

max_lst(li)

98

In [ ]:
abc=[11,99,77,44,22,111]
def large(x):
  m=0
  for i in x:
    if i>m:
      m=i
  print(m)
large(abc)

111

In [ ]:
# Create a function that accepts a string and counts how many words are in it ?
a="fathima"

def count(x):
  c=0
  for i in x:
    c=c+1
  print(c)

count(a)

7

In [ ]:
a="anshif"
def count(x):
  c=0
  for i in x:
    c=c+1
  print(c)
count(a)

6

In [ ]:
# Write a function that takes a list of numbers and returns the average (mean) of the numbers ?

li=[1,2,3,4,5,6]

def average(x):
  c=0
  for i in x:
    c=c+i
  print(c/len(li))

average(li)

3.5

In [ ]:
#1. Write a Python function to find the maximum of three numbers ?
def max(a,b,c):
  if a>=b and a>=c:
    print(a)
  elif b>=a and b>=c:
    print(b)
  else:
    print(c)
max(454,67,99)

454

In [ ]:
#2. Write a Python function to sum all the numbers in a list ?

def sum(li):
  c=0
  for i in li:
    c+=i
  print(c)
li=[8,2,3,0,7]


sum(li)

IndentationError: expected an indented block after 'for' statement on line 5 (ipython-input-6-2218370271.py, line 7)

In [ ]:
#3. Write a Python function to multiply all the numbers in a list ?
def mul(li):
  c=1
  for i in li:
    c*=i
  print(c)
li=[8, 2, 3, -1, 7]

mul(li)

-336

In [ ]:
#4. Write a Python program to reverse a string ?
x = "hello"
li = []
for i in x:
    li.append(i)
li.reverse()
print(li)

['o', 'l', 'l', 'e', 'h']

In [ ]:
# Write a Python program to reverse a string ?(convert to string)
x = "hello"
li = []
for i in x:
    li.append(i)
li.reverse()
reversed_str = ''.join(li)
print(reversed_str)

olleh

In [ ]:
#5. write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument ?

n = int(input("Enter a value :"))
def factorial(x):
  if x==0 or x==1:
    print("factorial=" ,1)
  else:
    factorial=1
    for i in range(1,x+1):
      factorial=factorial*i
    print("factorial=",factorial)

factorial(n)

Enter a value :5
factorial= 120

In [ ]:
#6. Write a Python function to check whether a number falls within a given range ?
def range(x):
    if x>=1 and x<=100:
      print("Yes")
    else:
      print("No")

range(34)

Yes

In [ ]:
#7. Write a Python function that accepts a string and counts the number of upper and lower case letters.
s="The quick Brow Fox"
def count(s):
  uc_count=0
  lc_count=0
  for i in s:
    if i.isupper():
      uc_count=uc_count+1
    else:
      if i == " ":
        pass
      else:
        lc_count=lc_count+1
  print("count of upper case :",uc_count)
  print("count of lower case :",lc_count)
count(s)

count of upper case : 3
count of lower case : 12

In [ ]:
a="The quick Brow Fox"
def count(a):
  uc_count=0
  lc_count=0
  for i in a:
    if i.isupper():
      uc_count=uc_count+1
    else:
      if i == " ":
        pass
      else:
        lc_count=lc_count+1
  print("count of uppercase:",uc_count)
  print("count of lowercase:",lc_count)
count(a)

count of uppercase: 3
count of lowercase: 12

In [ ]:
# 8. Write a Python function that takes a list and returns a new list with distinct elements from the first list ?
li=[1,2,3,3,3,3,4,5,5,6,6,6]
def distinct(li):
  dist=set(li)
  print(dist)
distinct(li)

{1, 2, 3, 4, 5, 6}

# New section

Questions

In [ ]:
#1. Write a python function to find greatest common divisors of two numbers?
a=int(input("Enter 1st number: "))
b=int(input("Enter 2nd number: "))
c=0
d=0
for i in range(1,a+1):
  if a%i==0 and b%i==0:
      v=i

print(v)

Enter 1st number: 56
Enter 2nd number: 98
14

In [ ]:
#2. convert nested list into a new list?
a=[[1,2],[3,4],[5]]
b=[]
for i in a:
  for x in i:
    b.append(x)

print(b)

[1, 2, 3, 4, 5]

In [ ]:
#3. write a pythonprogram to remove duplicates from a list . without using sets?
a=[1,2,3,3,4,5,5]
b=[]
for i in a:
  if i not in b:
    b.append(i)
print(b)

[1, 2, 3, 4, 5]

In [ ]:
#4. write a python program to print all prime numbers between 1-100?
for i in range(1,101):
  for x in range(2,i):
    if i%x==0:
      break
  else:
    print(i)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
#5. write a python program to find frequency of words from a sentence?
a="Hello world Hello"
b=a.lower()

c=b.split()
d={}
for i in c:
  if i in d:
    d[i]=d[i]+1
  else:
    d[i]=1

print(d)

{'hello': 2, 'world': 1}

In [ ]:
def gcd(a,b):

  for i in range(1,a+1):
    if a%i==0 and b%i==0:
      v=i

  print(v)

gcd(56,98)

14

In [ ]:
def list():
  a=[[1,2],[3,4],[5]]
  b=[]
  for i in a:
    for x in i:
      b.append(x)
  print(b)
list()

[1, 2, 3, 4, 5]

In [ ]:
def duplicates_remove():
  a=[1,2,3,3,4,5,5]
  b=[]
  for i in a:
    if i not in b:
      b.append(i)
  print(b)
duplicates_remove()

[1, 2, 3, 4, 5]

In [ ]:
def primeornot():
  for i in range(1,101):
    for x in range(2,i):
      if i%x==0:
        break
    else:
        print(i)
primeornot()

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
def frequency():
  a="Hello world Hello"
  b=a.lower()
  c=b.split()
  d={}
  for i in c:
    if i in d:
      d[i]=d[i]+1
    else:
      d[i]=1
  print(d)
frequency()

{'hello': 2, 'world': 1}

In [ ]:
a="hy my name is fathima"
b=a.split()
c=""
for i in b:
  if len(i)>len(c):
    c=i

print(c)

fathima

In [ ]:
a="hy iam fathima"
b=a.split()
c="123456789"
for i in b:
  if len(i)<len(c):
    c=i
print(c)

hy

In [ ]:
def myfun():
  a="hy my name is fathima"
  b=a.split()
  c=""
  for i in b:
    if len(i)>len(c):
      c=i
  print(c)
myfun()

fathima

In [ ]:
def myfun():
  a="hy iam fathima"
  b=a.split()
  c="123456789"
  for i in b:
    if len(i)<len(c):
      c=i
  print(c)
myfun()

hy

In [ ]:
def calculator():
  x=int(input(" "))
  y=int(input(" "))
  z=input(" ")
  if z=="+":
    print(x+y)
  elif z=="*":
    print(x*y)
  elif z=="-":
    print(x-y)
  else:
    print(x/y)

calculator()

 45
 4
 /
11.25

In [ ]:
def ATM():
  balance=45000
  username="fathima"
  password=12344
  a=input("Username: ")
  b=int(input("Password: "))
  if a==username and b==password:
    print("you'r succesfully logged in ")
    c=int(input("Enter amount: "))
    if c==0:
      print("Enter proper amount!")
    elif c>balance:
      print("Insufficient balance")
    else:
      print("Collect your money" ,"balance amount is: ",balance-c)
  elif a!=username and b!=password:
    print("Incorrect username and password!")
  elif b!=password :
    print("Incorrect password!")
  else:
    print("Incorrect username ")



ATM()

Username: fathimaa
Password: 12344
Incorrect username

In [ ]:
a = [50, 40, 130, 125, 20, 10, 5, 200, 75, 60]
for j in range(len(a)):
  for i in range(len(a)-1):
    if a[i]>a[i+1]:
      temp=a[i]
      a[i]=a[i+1]
      a[i+1]=temp
print(a)

[5, 10, 20, 40, 50, 60, 75, 125, 130, 200]

In [ ]:
a = [50, 40, 130, 125, 20, 10, 5, 200, 75, 60]
for j in range(len(a)):
 for i in range(len(a)-1):
   if a[i]>a[i+1]:
     temp=a[i]
     a[i]=a[i+1]
     a[i+1]=temp
print(a)

[5, 10, 20, 40, 50, 60, 75, 125, 130, 200]

In [ ]:
def sort(a):
  for j in range(len(a)):
    for i in range(len(a)-1):
      if a[i]>a[i+1]:
        temp=a[i]
        a[i]=a[i+1]
        a[i+1]=temp
  print(a)

b = [50, 40, 130, 125, 20, 10, 5, 200, 75, 60]
sort(b)

[5, 10, 20, 40, 50, 60, 75, 125, 130, 200]

In [ ]:
a=[1,2,3,4]
b=[]
for i in range(len(a)):
  b.append(a.pop())


print(b)

[4, 3, 2, 1]

In [ ]:
def reverse(a):
  b=[]
  for i in range(len(a)):
    b.append(a.pop())
  print(b)

a=[1,2,3,4]
reverse(a)

[4, 3, 2, 1]

**functions are objects**

In [ ]:
def shout(text):
  return text.upper()
print(shout('Hello'))
yell=shout
print(yell('Hello'))

HELLO
HELLO

In [ ]:
def shout(text):
  return text.upper()
def whisper(text):
  return text.lower()
def greet(func):
  greeting=func("""Hi,i am created by a function passed as an argument""")
  print(greeting)
greet(shout)
greet(whisper)

HI,I AM CREATED BY A FUNCTION PASSED AS AN ARGUMENT
hi,i am created by a function passed as an argument

In [ ]:
def create_adder(x):
  def adder(y):
    return x+y
  return adder
add_15=create_adder(15)
print(add_15(10))

25

In [ ]:
def calc_factorial(x):
  if x==1:
    return 1
  else:
    return(x*calc_factorial(x-1))
num=4
print("The factorial of",num,"is",calc_factorial(num))

The factorial of 4 is 24

In [ ]:
def armstrong(a):
  b=str(a)
  c=0
  for i in b:
    d=int(i)**len(b)
    c=c+d
  if c==a:
    print("is an armstrong number")
  else:
    print("not an armstrong number")
armstrong(1634)

is an armstrong number

# class and object

In [ ]:
class phone:
  def make_calls(self):
    print("Lets make a phone call")
  def play_games(self):
    print("Lets play a game")

In [ ]:
p1=phone()

In [ ]:
p1.make_calls()

Lets make a phone call

In [ ]:
p1.play_games()

Lets play a game

In [ ]:
class phone:

  def make_calls(self):
    print("Lets make a phone call")

  def play_games(self):
    print("Lets play a game")

  def set_color(self,color):
    self.color=color

  def set_cost(self,cost):
    self.cost=cost

  def show_color(self):
    return self.color

  def show_cost(self):
    return self.cost

In [ ]:
samsung=phone()

In [ ]:
samsung.set_color('blue')

In [ ]:
samsung.set_cost('13000')

In [ ]:
samsung.show_color()

'blue'

In [ ]:
samsung.show_cost()

'13000'

In [ ]:
iphone=phone()

In [ ]:
iphone.set_color('Teel')

In [ ]:
iphone.set_cost('95000')

In [ ]:
iphone.show_color()

'Teel'

In [ ]:
iphone.show_cost()

'95000'

In [ ]:
class employee:

  def __init__(self,name,age,salary,gender):

    self.name=name
    self.age=age
    self.salary=salary
    self.gender=gender

  def employee_details(self):
    print("Name of employee is ",self.name)
    print("Age of employee is ",self.age)
    print("Salary of employee is ",self.salary)
    print("Gender of empoyee is ",self.gender)

In [ ]:
e1=employee("fathima",20,14000,"female")

In [ ]:
e1.employee_details()

Name of employee is  fathima
Age of employee is  20
Salary of employee is  14000
Gender of empoyee is  female

In [ ]:
class character:

  def __init__(self,health,damage,power):
    self.health = health
    self.damage = damage
    self.power = power

ninja=character(100,30,90)
warrior=character(200,40,95)
print("power of ninja: ",ninja.power)
print("health of ninja: ",ninja.health)

power of ninja:  90
power of ninja:  100

In [ ]:
class character:

  def __init__(self,health,damage,power):
    self.health=health
    self.damage=damage
    self.power=power
  def double(self):
    self.power=self.power*2
    self.damage=self.damage*3
ninja=character(100,30,90)
warrior=character(200,40,95)
print("power of ninja: ",ninja.power)
print("health of ninja: ",ninja.health)
ninja.double()
print("After doubling the power")
print("power of ninja: ",ninja.power)
print("damage of ninja: ",ninja.damage)

power of ninja:  90
health of ninja:  100
After doubling the power
power of ninja:  180
damage of ninja:  90

In [ ]:
class character:

  def __init__(self,name,health,damage,power):
    self.name=name
    self.health=health
    self.damage=damage
    self.power=power

  def hai(self):
    print("Hello I am ",self.name)

  def is_alive(self):
    if self.health <=0:
      print(self.name,"is Dead!")
    else:
      print(self.name,"is alive!")

  def player_details(self):
    print("....."*5)
    print("Name of player is: ",self.name)
    print("Health of player is: ",self.health)
    print("damage of player is: ",self.damage)
    print("power of player is: ",self.power)
    print()


ninja=character("Ninja",100,30,90)
warrior=character("warrior",200,40,95)


ninja.hai()
ninja.health=0
print("Health of ninja: ",ninja.health)
ninja.is_alive()
warrior.is_alive()

warrior.player_details()
ninja.player_details()

Hello I am  Ninja
Health of ninja:  0
Ninja is Dead!
warrior is alive!
.........................
Name of player is:  warrior
Health of player is:  200
damage of player is:  40
power of player is:  95

.........................
Name of player is:  Ninja
Health of player is:  0
damage of player is:  30
power of player is:  90

In [ ]:
class subway_surf:

  def __init__(self,name,age,color,coin,score):
    self.name=name
    self.age=age
    self.color=color
    self.coin=coin
    self.score=score

  def magnet(self):
    self.coin=self.coin*2

  def jet(self):
    self.coin=self.coin*3

  def jumping_shoes(self):
    self.coin=self.coin*2



  def player_details(self):
    print("....."*5)
    print("Name of player is: ",self.name)
    print("Age of player is: ",self.age)
    print("Color of player is: ",self.color)
    print("Coin of player is: ",self.coin)
    print("Score of player is: ",self.score)
    print()


ninja=subway_surf("ninja",20,"blue",78,234)
warrior=subway_surf("warrior",23,"white",95,1098)

ninja.magnet()
print("coin of ninja: ",ninja.coin)

ninja.jet()
print("coin of ninja: ",ninja.coin)

warrior.jumping_shoes()
print("coin of warrior: ",warrior.coin)


ninja.player_details()
warrior.player_details()

coin of ninja:  156
coin of ninja:  468
coin of warrior:  190
.........................
Name of player is:  ninja
Age of player is:  20
Color of player is:  blue
Coin of player is:  468
Score of player is:  234

.........................
Name of player is:  warrior
Age of player is:  23
Color of player is:  white
Coin of player is:  190
Score of player is:  1098

In [ ]:
class student:

  school="abc school"  #class attributes

  def __init__(self,name,age,roll_number):
    self.name=name  #instance level attributes
    self.age=age
    self.roll_number=roll_number

  def details(self):  #method!
   print(f"{self.name} is : {self.age} year old and studying at :{self.school} and roll number is : {self.roll_number}")


student1=student("fathima",20,1)
student2=student("fizza",21,2)
print(student1.school)

student.school="Learn Logic AI"  #updating class attributes

student1.details()

abc school
fathima is : 20 year old and studying at :Learn Logic AI and roll number is : 1

In [ ]:
class student:

  school="abc school"

  def __init__(self,name,age,roll_number):
    self.name=name
    self.age=age
    self.roll_number=roll_number

  def details(self):
    print(f"{self.name} is : {self.age}year old and studying at : {self.school} and roll number is : {self.roll_number} ")

  student1=student("fathima",20,1)
  student2=student("fizza",21,2)
  print(student1.school)
  del student1.name
  print(student1.name)  #it will show error

NameError: name 'student' is not defined

In [ ]:
class student:

  school="abc school"

  def __init__(self,name,age,roll_number):
    self.name=name
    self.age=age
    self.roll_number=roll_number

  def details(self):
    print(f"{self.name} is: {self.age} year old and studying at: {self.school} and roll number is: {self.roll-number}")

student1=student("fathima",20,1)
student2=student("fizza",21,2)
print(getattr(student1,"name")) # or print(student1.name)

setattr(student1,"age",23) # or student1.age=23
print(student1.age)

print(hasattr(student1,"id"))

delattr(student1,"age")

fathima
23
False

Create a class called Cat that models a cat with the following features:

1. The Cat class should have two attributes: name (the name of the cat) and color (the color of the cat).
These attributes should be initialized using the constructor __init__.

2. Add the following methods to the Cat class:

meow(): This method should print a message indicating that the cat is meowing. The message should include the cat's name.
purr(): This method should print a message indicating that the cat is purring. The message should include the cat's name.
scratch(item): This method should simulate the cat scratching an object. The item parameter should be passed to the method, and the message should include the cat's name and the object it is scratching.
sleep(): This method should print a message indicating that the cat is sleeping, and it should include the cat's name.

3. Create two instances of the Cat class with different names and colors.

4. Call each of the methods (meow(), purr(), scratch(), and sleep()) for both instances of the Cat class, passing appropriate arguments where required.

In [ ]:
class cat:

  def __init__(self,name,color):
    self.name=name
    self.color=color

  def details(self):
    print(f"The {self.name} is {self.color}!")

  def meow(self):
    print(f"{self.name} is meowing")

  def purr(self):
    print(f"{self.name} purring")

  def scratch(self,item):
    print(f"{self.name} scratching on {item} ")

  def sleep(self):
    print(f"{self.name} is sleeping")

cat1=cat("lilly","white")
cat2=cat("simba","grey")

cat1.details()
cat2.details()
print()

cat1.meow()
cat2.meow()
print()

cat1.purr()
cat2.purr()
print()

cat1.scratch("sofa")
cat2.scratch("phone")
print()

cat1.sleep()
cat2.sleep()
print()

The lilly is white!
The simba is grey!

lilly is meowing
simba is meowing

lilly purring
simba purring

lilly scratching on sofa
simba scratching on phone

lilly is sleeping
simba is sleeping

Add an age attribute to the Cat class and a method celebrate_birthday() that increases the cats age by 1 and prints a birthday message.

Add a method called describe() that prints the cats name, color, and age.

Add a class variable that keeps track of how many cats have been created.

Add a method rename(new_name) that changes the cats name.

Make a list of cat toys, and create a method play(toy) that checks if the toy is in the list and prints a message accordingly.

In [ ]:
class cat:

  cat_count=1
  cat_toys=["car","jeep","ball","train"]

  def __init__(self,name,age,color):
    self.name=name
    self.age=age
    self.color=color

  def details(self):
    print(f"The {self.name} is {self.age} years old and you are {self.color}")

  def celebrate_birthday(self):
    self.age+=1
    print(f"Happy Birthday!,you are {self.age} years old....")


  def describe(self):
    print()
    print("....."*5)
    print("Name of cat is: ",self.name)
    print("Age of the cat is: ",self.age)
    print("Color of the cat is: ",self.color)

  def rename(self,new_name):
    self.name=new_name



cat1=cat("lilly",2,"white")
cat2=cat("simba",4,"grey")
cat.cat_count=2

cat1.rename("pinky")
cat2.rename("chinnu")
print()




cat1.details()
cat2.details()
print()

cat1.celebrate_birthday()
cat2.celebrate_birthday()

cat1.describe()
cat2.describe()

The pinky is 2 years old and you are white
The chinnu is 4 years old and you are grey

Happy Birthday!,you are 3 years old....
Happy Birthday!,you are 5 years old....

.........................
Name of cat is:  pinky
Age of the cat is:  3
Color of the cat is:  white

.........................
Name of cat is:  chinnu
Age of the cat is:  5
Color of the cat is:  grey

#Interitance in oop

## 1). single Inheritance

In [ ]:
class Animal: #parent class
  def speak(self):
    print("Animal speaking")

class Dog(Animal): #child class
  def bark(self):
    print("Dog barking")

d=Dog()
d.speak()
d.bark()
print("         ")

a=Animal()
a.speak()

Animal speaking
Dog barking

Animal speaking

In [ ]:
class vehicle:
  def start(self):
    print("vehicle is starting....")
  def stop(self):
    print("vehicle is stopping....")

class Car(vehicle):
  def drive(self):
    print("car is being driven")

c=Car()
c.start()
c.stop()
c.drive()
print("         ")

v=vehicle()
v.start()
v.stop()

vehicle is starting....
vehicle is stopping....
car is being driven

vehicle is starting....
vehicle is stopping....

In [ ]:
class shamla:
  def singing(self):
    print("shamla is singing")

class fathima(shamla):
  def drawing(self):
    print("fathima is drawing")

f=fathima()
f.singing()
f.drawing()
print("         ")

s=shamla()
s.singing()

shamla is singing
fathima is drawing

shamla is singing

## 2).Multilevel Inheritance

In [ ]:
class Animal:
  def speak(self):
    print("Animal is speaking")

class Dog(Animal):
  def bark(self):
    print("Dog is barking")

class Dogchild(Dog):
  def eat(self):
    print("Eating bread")

a=Animal()
a.speak()
print("         ")

d=Dog()
d.speak()
d.bark()
print("         ")

d1=Dogchild()
d1.speak()
d1.bark()
d1.eat()

Animal is speaking

Animal is speaking
Dog is barking

Animal is speaking
Dog is barking
Eating bread

In [ ]:
class Food:
  def taste(self):
    print("Tastyyy")

class Burger(Food):
  def spice(self):
    print("Spicyyy")

class Pizza(Burger):
  def cheese(self):
    print("Cheesyyy")

f=Food()
f.taste()
print("         ")


b=Burger()
b.taste()
b.spice()
print("         ")


p=Pizza()
p.taste()
p.spice()
p.cheese()

Tastyyy

Tastyyy
Spicyyy

Tastyyy
Spicyyy
Cheesyyy

## 3). Hierarchial Inheritance

In [ ]:
class Shape:
  def info(self):
    print("shapes have dimensions")

class Circle(Shape):
  def draw(self):
    print("drawing  a circle")

class Rectangle(Shape):
  def draw(self):
    print("drawing a rectangle")

s=Shape()
s.info()
print("         ")


c=Circle()
c.info()
c.draw()
print("         ")


r=Rectangle()
r.info()
r.draw()

shapes have dimensions

shapes have dimensions
drawing  a circle

shapes have dimensions
drawing a rectangle

In [ ]:
class Person:
  def introduce(self):
    print("Iam a person....")

class Teacher(Person):
  def teach(self):
    print("I teach students....")

class Student(Person):
  def study(self):
    print("I study subjects....")

p=Person()
p.introduce()
print("         ")


t=Teacher()
t.introduce()
t.teach()
print("         ")

s=Student()
s.introduce()
s.study()

Iam a person....

Iam a person....
I teach students....

Iam a person....
I study subjects....

In [ ]:
class vehicle:
  def start(self):
    print("starting....")
  def stop(self):
    print("stopping....")

class car(vehicle):
  def drive(self):
    print("driven")

class train(vehicle):
  def speed(self):
    print("speed")

v=vehicle()
v.start()
v.stop()
print("         ")


c=car()
c.start()
c.stop()
c.drive()
print("         ")

t=train()
t.start()
t.stop()
t.speed()

starting....
stopping....

starting....
stopping....
driven

starting....
stopping....
speed

## 4). Multiple Inheritance

In [ ]:
class calculation1:
  def summation(self,a,b):
    print(a+b)

class calculation2:
  def multiplication(self,a,b):
    print(a*b)

class Derived(calculation1,calculation2):
  def divide(self,a,b):
    print(a/b)

d=Derived()
d.summation(23,56)
d.multiplication(4,4)
d.divide(234,6)

79
16
39.0

In [ ]:
class father:
  def draw(self):
    print("Drawing")

class mother:
  def sing(self):
    print("Singing")

class child(father,mother):
  def dance(self):
    print("Dancing")

c=child()
c.draw()
c.sing()
c.dance()

Drawing
Singing
Dancing

## 5). Hybrid Inheritance

In [ ]:
class person:
  def show(self):
    print("I am a person")
class teacher(person):
  def teach(self):
    print("I teach students")


class staff:
  def manage(self):
    print("I manage school activities")


class principal(teacher,staff):
  def oversea(self):
    print("I oversea the entire school")


p=principal()
p.show()
p.teach()
p.manage()
p.oversea()

I am a person
I teach students
I manage school activities
I oversea the entire school

## Super()

In [ ]:
class parent:
  def greet1(self):
    print("Hello from parent..")

class child(parent):
  def greet2(self):
    super().greet1()
    print("Hello from child..")

c=child()
c.greet2()

Hello from parent..
Hello from child..

In [ ]:
class parent:
  def __init__(self,name):
    self.name=name
    print("Parent constructor called")
    print("     ")

class child(parent):
  def __init__(self,name,age):
    super().__init__(name)
    self.age=age
    print("child constructor called")


c=child("fathima",20)

Parent constructor called

child constructor called

# Polymorphism

## Method Overriding

In [ ]:
class A:
  def show(self):
    print("Class A")

class B(A):
  def show(self):
    print("Class B")

class C(B):
  def show(slef):
    print("Class C")

obj=C()
obj.show()

Class C

In [ ]:
class A:
  def show(self):
    print("Class A")

class B(A):
  def show(self):
    super().show()
    print("Class B")

class C(B):
  def show(self):
    super().show()
    print("Class C")

obj=C()
obj.show()

Class A
Class B
Class C

In [ ]:
class Animal:
  def speak(self):
    print("Animal is making sound")

class Dog (Animal):
  def speak(self):
    print("Dog barks")

class Cat(Animal):
  def speak(self):
    print("Cat meows")

d=Dog()
c=Cat()

d.speak()
c.speak()

Dog barks
Cat meows

## Method Overloading

In [ ]:
class calculator:
  def add(self,a,b=0,c=0):
    print(a+b+c)

calc=calculator()

calc.add(5)
calc.add(4,15)
calc.add(4,15,20)

5
19
39

###  *Positional argument

In [ ]:
class mathoperations:
  def add(self,*numbers):
    total=sum(numbers)
    print(f"sum:{total}")

math=mathoperations()

math.add(5)
math.add(5,15)
math.add(5,15,20)

sum:5
sum:20
sum:40

###  **Keyword argument

In [ ]:
class Greeting:
  def say_hello(self,**kwargs):
    print(f"Hello {kwargs['name']}!")
    print(f"You are {kwargs['age']} years old!")
    print(f"You are from {kwargs['city']}!")


g=Greeting()
g.say_hello(name="fathima",age=20,city="Thriprayar")

Hello fathima!
You are 20 years old!
You are from Thriprayar!

# Encapsulation

In [ ]:
class company:
  def __init__(self,company_name,company_id):
    self.__company_name=company_name
    self._company_id=company_id

c=company("TCS",18)
print(c._company_id)

18

In [ ]:
class company:
  def __init__(self,company_name,company_id):
    self.__company_name=company_name
    self._company_id=company_id

  def get_company_name(self):
    print(self.__company_name)

c=company("TCS",42)
c.get_company_name()

TCS

In [ ]:
class bankaccount:
  def __init__(self,account_number,balance):
    self.__account_number=account_number
    self.__balance=balance

  def deposit(self,amount):
    if amount > 0:
      self.__balance +=amount
      print(f"Deposited {amount}. New balance: {self.__balance}")
    else:
      print("Invalid deposit error")

  def get_balance(self):
    return self.__balance

account=bankaccount("12345",1000)
account.deposit(500)
print(account.get_balance())

Deposited 500. New balance: 1500
1500

# Abstraction

In [ ]:
from abc import ABC, abstractmethod

class vehicle(ABC):

  @abstractmethod
  def start_engine(self):
    pass

  @abstractmethod
  def stop_engine(self):
    pass
class car(vehicle):

  def start_engine(self):
    print("Car engine started")

  def stop_engine(self):
    print("Car engine stopped")


c=car()
c.start_engine()
c.stop_engine()

Car engine started
Car engine stopped

In [ ]:
from abc import ABC , abstractmethod

class Shape(ABC):

  @abstractmethod
  def calculate_area(self):
    pass

class circle(Shape):

  def __init__(self,radius):
    self.radius=radius

  def calculate_area(self):
    print(f"circle area is: { 3.14 * (self.radius) **2}")

class Rectangle(Shape):

  def __init__(self,width,height):
    self.width=width
    self.height=height

  def calculate_area(self):
    print(f"Rectangle area is: {self.width * self.height}")


c=circle(10)
r=Rectangle(5,10)

c.calculate_area()
print()
r.calculate_area()

circle area is: 314.0

Rectangle area is: 50

## Class methods

In [ ]:
class car:

  wheel=4

  def __init__(self,brand,model):
    self.brand=brand
    self.model=model

  @classmethod
  def change_wheels(cls,new_wheels):
    cls.wheels=new_wheels
    print(f"The number of wheels has been updating to: {cls.wheels}")

c=car("BMW","MiniCooper")
c.change_wheels(6)
print()
print(f"car variables updated to:{c.wheels}")

The number of wheels has been updating to: 6

car variables updated to:6

1.Create an abstract class Animal with an abstract method make_sound(). Then, implement two subclasses, Dog and Cat, which override the make_sound() method to print the respective animal sounds. Instantiate both classes and call their make_sound() methods.

In [ ]:
from abc import ABC,abstractmethod

class Animal(ABC):

 @abstractmethod
 def make_sound(self):
    pass

class Dog(Animal):

  def make_sound(self):
    print("Barkk")

class Cat(Animal):

  def make_sound(self):
    print("Meoww")


d=Dog()
c=Cat()

d.make_sound()
c.make_sound()

Barkk
Meoww

2.Create an abstract class Employee with an abstract method calculate_salary(). Implement two subclasses, FullTimeEmployee and PartTimeEmployee, which calculate salaries based on a fixed monthly salary and an hourly rate, respectively. Instantiate both classes and print their salaries.

In [ ]:
class employee:

  @abstractmethod
  def calculate_salary(self):
      pass

class Fulltime_employee(employee):

  def __init__(self,salary):
      self.salary=salary

  def calculate_salary(self):
      print(f"Salary of full time employee is: {self.salary}")

class Parttime_employee(employee):

  def __init__(self,salary):
       self.salary=salary

  def calculate_salary(self):
      print(f"Salary of part time employee is: {self.salary}")


f=Fulltime_employee(40600)
p=Parttime_employee(23457)

f.calculate_salary()
p.calculate_salary()

Salary of full time employee is: 40600
Salary of part time employee is: 23457

3.Create an abstract class Polygon with an abstract method number_of_sides(). Implement two subclasses, Triangle and Pentagon, which return the respective number of sides. Instantiate both classes and print the number of sides.

In [ ]:
class polygon:

  @abstractmethod
  def number_of_sides(self):
    pass

class Triangle(polygon):

  def __init__(self,sides):
    self.sides=sides

  def number_of_sides(self):
    print(f"sides number of triangle is: {self.sides}")


class Pentagon(polygon):

  def __init__(self,sides):
    self.sides=sides

  def number_of_sides(self):
    print(f"sides number of pentagon is: {self.sides}")


t=Triangle(3)
p=Pentagon(5)

t.number_of_sides()
p.number_of_sides()

sides number of triangle is: 3
sides number of pentagon is: 5

**1**. Define a Python class Student with the following private attributes:

  __name to store the student's name.
  __marks to store the student's marks.

2. Implement the following public  getter and setter methods to access and modify these attributes securely:

set_name(name)  A method to set the student's name.
get_name()  A method to retrieve the student's name.
set_marks(marks)  A method to set the student's marks (Ensure marks cannot be negative).
get_marks()  A method to retrieve the student's marks.

3. Demonstrate the usage of the class by:

-Create an instance of the Student class.
-Setting the name of the student to "Alice" and print it using the getter method.
-Setting the marks of the student to 95 and print it using the getter method.
-Dont alow negative marks.

In [ ]:
class Student:

  def set_name(self,name):
    self.__name=name

  def set_mark(self,mark):
    if mark < 0:
      print("marks cannot be negative")
    else:
      self.__mark=mark

  def get_name(self):
    print(self.__name)

  def get_mark(self):
    print(self.__mark)

s=Student()
s.set_name("fathima")
s.set_mark(40)
s.get_name()
print()
s.get_mark()

fathima

40

In [ ]:
class Student:

  def __init__(self):
    self.__name=" "
    self.__mark=0

  def set_name(self,name):
    self.__name=name

  def get_name(self):
    print(self.__name)

  def set_mark(self,mark):
    if mark < 0:
      print("mark cannot be negative,please provide a valid value")

    else:
      self.__mark=mark

  def get_mark(self):
    print(self.__mark)

s=Student()
s.set_name("Alice")
s.set_mark(95)

s.get_name()
s.get_mark

s.set_mark(-10)
print("Student mark after invalid attempt: ",s.get_mark())

Alice
mark cannot be negative,please provide a valid value

95
Student mark after invalid attempt:  None

Step1 : Define a Python class Employee with the following private attribute:

__salary to store the employee's salary.A

Step 2 : Implement the following public methods to securely access and modify the salary:

-set_salary(salary)  A method to set the employee's salary (Ensure the salary is a positive value).
-get_salary()  A method to retrieve the employee's current salary.
-increase_salary(percentage)  A method to increase the salary by a given percentage securely and update the salary value.

Step 3 : Demonstrate the usage of the class by:

-Creating an instance of the Employee class.
-Setting the salary to 50000 and printing it using the getter method.
-Increasing the salary by 10% and printing the updated salary.
-Dont allow negative salary , give warning message

In [ ]:
class employee:

  def __init__(self):
    self.__salary=0

  def set_salary(self,salary):
    if salary<0:
      print("Dont allow negative salary!!")
    else:
      self.__salary=salary

  def get_salary(self):
    print(f"Employee salary : {self.__salary}")
    print()

  def increase_salary(self,percentage):
    per_percentage=self.__salary/100
    print(f"Employees updated salary: {( self.__salary/100 * percentage) + self.__salary}")


e=employee()
e.set_salary(10000)

e.get_salary()
e.increase_salary(10)

Employee salary : 10000

Employees updated salary: 11000.0

 Question 2: Bank Account Management

Step 1: Define a class BankAccount with private attributes:

__account_number

__balance

Step 2: Methods:

deposit(amount)  Adds to the balance if the amount is positive.

withdraw(amount)  Deducts from balance if amount is positive and sufficient.

get_balance()  Returns current balance.

Step 3: Demonstrate:

Create an account with initial balance 1000.

Deposit 500, withdraw 300, and show balance.

Try to withdraw 1500 and show an error.

In [ ]:
class BankAccount:

  def __init__(self,account_number,balance):
    self.__account_number=account_number
    self.__balance=balance

  def deposit(self,amount):
    if amount > 0:
      self.__balance+=amount
      print(f"deposited : {amount}")
    else:
      print("amount cannot be negative")


  def withdraw(self,amount):
    if amount >= self.__balance:
       print("Insufficient amount!! ")
    elif self.__balance <amount:
        print("Enter proper amount")
    else:
      self.__balance-=amount
      print(f"withdraw: {amount}")


  def get_balance(self):
      print(self.__balance)


b=BankAccount(1110334567,1000)

b.deposit(500)
b.withdraw(300)
b.get_balance()

deposited : 500
withdraw: 300
1200

 Question 3: Product Inventory

Step 1: Create a Product class with:

__name

__price

__stock_quantity

Step 2: Methods:

set_price(price)  Set price (must be positive).

add_stock(quantity)  Increase stock.

sell(quantity)  Reduce stock (must not go negative).

get_stock()  Returns current stock.

Step 3: Demonstrate:

Create a product "Laptop" with price 1000.

Add 50 to stock.

Sell 10, then check remaining stock.

In [ ]:
class product:

  def __init__(self,name,price,stock_quantity):
    self.__name=name
    self.__price=price
    self.__stock_quantity=stock_quantity

  def set_price(self,price):
   if price < 0:
    self.__price=price
   else:
    print("Price must be positive")

  def add_stock(self,quantity):
   if quantity >0:
    self.__stock_quantity+=quantity
   else:
    print("No stock")


  def sell(self,quantity):
   if quantity <=self.__stock_quantity:
    self.__stock_quantity-=quantity
   else:
    print("must not go to negative")

  def get_stock(self):
   print(self.__stock_quantity)

p=product("laptop",1000,50)
p.set_price(2000)
p.add_stock(15)
p.sell(10)
p.get_stock()

Price must be positive
55

2: Student Grades

Step 1: Define a class Student with private attributes: __name, __grades (list).

Step 2: Implement methods:

add_grade(grade)  add a grade (0100 only).

get_average()  return average grade.

get_name()  return student name.

Step 3: Demonstrate:

Create a student named "Alice", add grades 85, 90, 78, print average.

In [ ]:
class Student:

  def __init__(self,name):
    self.__name=name
    self.__grade=[]

  def add_grade(self,grade):
    if grade >0 and grade <=100:
      self.__grade.append(grade)
    else:
      print("NO GRADE")

  def get_average(self):
    if len(self.__grade)==0:
     print(0)
    total=0
    for grade in self.__grade:
      total+=grade
    print(total/len(self.__grade))


  def get_name(self):
    print(self.__name)

s=Student("Alice")
s.get_name()
s.add_grade(90)
s.add_grade(78)
s.add_grade(85)
s.get_average()

Alice
84.33333333333333

Shopping Cart

Create a class Product with attributes: name, price.

Create a class Cart with a list of products.

Methods: add_product(product), remove_product(product), get_total().

In [ ]:
class Product:

  def __init__(self,name,price):
    self.name=name
    self.price=price

class Cart:
  def __init__(self):
    self.product=[]

  def add_product(self,product):
    self.product.append(product)


  def remove_product(self,product):
    if product in self.product:
      self.product.remove(product)
    else:
      print("not in cart")


  def get_total(self):
    print(self.product)


p=Product("iphone",1000)
c=Cart()
c.add_product("laptop")
c.add_product("iphone")
c.add_product("ipad")

c.remove_product("iphone")
c.get_total()

['laptop', 'ipad']

 Advanced

Student Management System

Extend your Student class to include multiple students in a Classroom.

Methods to:

Add a student

Display all students

Find the student with the highest average.

In [ ]:
class Student:

  def __init__(self):
    self.name=[]
    self.mark=[]

  def add_student(self,name,mark):
    self.name.append(name)
    self.mark.append(mark)


  def display_student(self):
    print(f"Total students in the class: {self.name}")

  def get_average(self):
    if len(self.mark)==0:
      print()
    total=0
    for mark in self.mark:
      total+=mark
    print(total/len(self.mark))



s=Student()
s.add_student("fathima",34)
s.add_student("Nasila",54)
s.add_student("Ameena",33)
s.add_student("Fizza",12)

s.display_student()
s.get_average()

Total students in the class: ['fathima', 'Nasila', 'Ameena', 'Fizza']
33.25

ATM Simulation

Create a class ATM that allows users to log in with a PIN.

Supports deposit, withdrawal, balance inquiry.

Add error handling for invalid PIN, insufficient funds, etc.

In [ ]:
class ATM:

  def __init__(self,pin):
    self.pin=pin
    self.balance=6000


  def deposit(self,pin,amount):
    if pin==self.pin:
      print("Succesfully logged in")
      if amount>0:
        self.balance+=amount
        print(f"deposit {amount},balance:{self.balance}")
      else:
        print("invalid amount")
    else:
      print("Incorrect pin!!")

  def withdraw(self,pin,amount):
    if pin==self.pin:
      print("Succesfully logged in")
      if amount < self.balance:
        self.balance-=amount
        print(f"withdraw {amount},balance:{self.balance}")
    else:
      print("Incorrect pin!!")


  def balance_inquiry(self):
    print(f"current balance:{self.balance}")


a=ATM(1234)
a.deposit(1234,5600)
a.withdraw(1234,3000)
a.balance_inquiry()

Succesfully logged in
deposit 5600,balance:11600
Succesfully logged in
withdraw 3000,balance:8600
current balance:8600

#Exceptional handling

In [ ]:
try:
  num=int(input("Enter a number: "))
  result=10/num

except ZeroDivisionError:
  print("Cannot divide by zero")
except ValidError:
  print("Please enter a valid number")
else:
  print("Division succesfull! Result:",result)
finally:
  print("This block always run")

In [ ]:
length=10
width=5
area=length+width
print("Area: ",area)

Area:  15

In [ ]:
try:
  x=int(input("Enter a number: "))
  y=10/x
  print(y)
except ZeroDivisionError:
  print("Cannot divide by zero")

Enter a number: 0
Cannot divide by zero

In [ ]:
try:
  x=int(input("Enter a number: "))
  y=10/x
except ZeroDivisionError as e:
  print(e)

Enter a number: 0
division by zero

In [ ]:
try:
  print(a)
except:
  print("error occured")

error occured

In [ ]:
print(a)
print("Hello World")

NameError: name 'a' is not defined

In [ ]:
try:
  print(a)
except:
  print("error occured")
  print("Hello World")

error occured
Hello World

In [ ]:
try:
  result=10/2
except ZeroDivisionError:
  print("error")
else:
  print("Result: ",result)

Result:  5.0

In [ ]:
try:
  file_=open ("data.txt","r")

except FileNotFoundError:
  print("File not found")

finally:
  print("End of program")

File not found
End of program

In [ ]:
import math
print(math.exp(1000))  #its overflow error

OverflowError: math range error

In [ ]:
obj=42
obj.append(5) #attribute error

AttributeError: 'int' object has no attribute 'append'

In [ ]:
data={"name":"john"}
print(data["age"]) #key error

KeyError: 'age'

In [ ]:
my_list=[1,2,3]
print(my_list[5]) #index error

IndexError: list index out of range

In [ ]:
print(int("hello"))  #value error

ValueError: invalid literal for int() with base 10: 'hello'

In [ ]:
my_list=[1,2,3]
my_list.remove(5)  #value error

ValueError: list.remove(x): x not in list

In [ ]:
print("5"+5)  #type error

TypeError: can only concatenate str (not "int") to str

In [ ]:
open("nonexistnt_file,.txt")  #FileNotFoundError

FileNotFoundError: [Errno 2] No such file or directory: 'nonexistnt_file,.txt'

In [ ]:
try:
  open("nonexistnt.file")
except FileNotFoundError as e:
  print(e)

[Errno 2] No such file or directory: 'nonexistnt.file'

## raise exception

In [ ]:
age= int(input("Enter your age: "))

if age<0:
  raise ValueError("Age cannot be negative")
else:
  print(f"Your age is {age}")

print("No try except")

Enter your age: 9
Your age is 9
No try except

In [ ]:
try:
  age=int(input("Enter your age: "))

  if age<0:
    raise ValueError("Age cannot be negative")
  else:
    print(f"your age is {age}")
except ValueError as e:
  print(e)
print("try except finished")

Enter your age: 20
your age is 20
try except finished

In [ ]:
class InvalidAgeException(Exception):
  "Raised when the input value is less than 18"
  pass

number=18
try:
  input_num=int(input("Enter a number: "))
  if input_num < number:
    raise InvalidAgeException

  else:
    print("Eligible to vote")

except InvalidAgeException:
  print("Exception occured: Invalid Age")

Enter a number: 9
Exception occured: Invalid Age

In [ ]:
class InvalidMarkException(Exception):
  "Raised when input value is less than 65"

mark=65
try:
  a=int(input("Enter your mark: "))
  if a<mark:
    raise InvalidMarkException

  elif a==66:
    print("Just pass")

  else:
    print("Passed")

except InvalidMarkException:
  print("failed")

Enter your mark: 8
failed

In [ ]:
mark= int(input("Enter your mark: "))

if mark<0 :
  raise ValueError("Cannot be negative")
else:
  print(f"mark is {mark}")

print("No try except")

Enter your mark: -1

ValueError: Cannot be negative

In [ ]:
a=int(input("Enter a number: "))

if a==0:
 raise NameError("fathima")
else:
  print("done")

Enter a number: 0

NameError: fathima

#Questions

1.Division by Zero
Write a program that takes two numbers as input and divides them. Handle the case where the denominator is zero.

In [ ]:
try:
  a=int(input("Enter 1st number: "))
  b=int(input("Enter 2nd number: "))

  result=a/b
except ZeroDivisionError:
  print("Error")
else:
  print("Result: ",result)

Enter 1st number: 10
Enter 2nd number: 0
Error

2.Invalid Integer Input
Ask the user to enter an integer. Handle the case where they enter something that isnt an integer.

In [ ]:
try:
  a=int(input("Enter an integer: "))
  print("It is an integer")
except ValueError:
  print("NOt an integer value")

Enter an integer: l
NOt an integer value

3.List Index Error
Create a list of 5 elements. Ask the user to enter an index and print the element. Handle the case where the index is out of range.

In [ ]:

try:
  a=int(input("Enter an index: "))
  b=[1,2,3,4]


  print("the index is:",b[a])
except IndexError:
  print("Index is out of range")

Enter an index: 5
Index is out of range

4.File Not Found
Try to open a file named data.txt. If it doesnt exist, print "File not found".

In [ ]:
try:
  open("data.txt")

except FileNotFoundError:
  print("File not found")

File not found

5.Multiple Exceptions
Write a program that takes two inputs and divides them. Handle both ValueError (if input is not a number) and ZeroDivisionError.

In [ ]:
try:
  a=int(input("Enter 1st number: "))
  b=int(input("Enter 2nd number: "))

  result=a/b
except ValueError:
  print("Input is not a number")
except ZeroDivisionError:
  print("Cannot divide by zero")
else:
  print("Result: ",result)

Enter 1st number: 8
Enter 2nd number: 0
Cannot divide by zero

6.Nested Exception Handling
Write a program that asks the user for two numbers and divides them. If the input is not a number, ask again until valid input is given.

In [ ]:
for i in range (1,100):
  try:
      a=int(input("Enter 1st number: "))
      b=int(input("Enter 2nd number: "))

      result=a/b

  except ValueError:
    print("input is not a number")

  except ZeroDivisionError:
    print("Cannot divide by zero")





  else:
    print("Result: ",result)
    break

Enter 1st number: u
input is not a number
Enter 1st number: 7
Enter 2nd number: 6
Result:  1.1666666666666667





Try-Except with Else
Write a program that opens a file and reads its content. If no exception occurs, print "File read successfully" inside the else block.

Bank Account Simulation
Create a class BankAccount with methods deposit and withdraw. Raise a ValueError if someone tries to withdraw more money than available.

7.Finally Block Demonstrate the use of a finally block by writing a program that always prints "Program finished" regardless of whether an exception occurs.

In [ ]:
try:
  a=int(input("Enter 1st number: "))
  b=int(input("Enter 2nd number: "))

  result=a+b

except ValueError:
  print("not a number")

else:
  print("Result: ",result)

finally:
    print("Program finished")

Enter 1st number: u
not a number
Program finished

8.Exception with Function Create a function safe_int() that takes a string and returns an integer. If the string cannot be converted, return None.

In [ ]:
def safe_int():

  try:

    a=input("Enter a string: ")
    b=int(a)

    print("Integer: ",a)

  except ValueError:
    print("cannot convert to integer")


safe_int()

Enter a string: 123
Integer:  123

9.Custom Exception Define a custom exception NegativeNumberError. Write a program that asks the user for a positive number and raises your exception if they enter a negative one.

In [ ]:
class NegativeNumberError(Exception):
  try:
    a=int(input("Enter a number: "))

    if a<=0:
      raise NegativeNumberError
    else:
      print("Positive")

  except NegativeNumberError:
   print("invalid")

Enter a number: 0
invalid

10.Handling Multiple Errors in Loop Create a program that repeatedly asks the user for a number until they enter "stop". Handle both ValueError (non-numeric input) and ZeroDivisionError (if they try to divide by zero in some operation).

In [ ]:
while True:

  b=input("Enter continue/stop: ")
  if b=="stop":
    print("Stopped")
    break
  else:
    print("Continue")





    try:
        a=int(input("Enter number: "))
        result=10/a


    except ValueError:
      print("Non numeric input")

    except ZeroDivisionError:
      print("Cannot be zero")

    else:
      print("Result: ",result)

Enter continue/stop: continue
Continue
Enter number: 5
Result:  2.0
Enter continue/stop: continue
Continue
Enter number: 0
Cannot be zero
Enter continue/stop: stop
Stopped

11.Try-Except with Else Write a program that opens a file and reads its content. If no exception occurs, print "File read successfully" inside the else block.

In [ ]:
try:
  open()

#File handling

### write

In [ ]:
file=open("example.txt","w")
file.write("python is awesome!/n")
file.close()

### read

In [ ]:
file=open("example.txt","r")
content=file.read()
print(content)
file.close()

python is awesome!/n

### append

In [ ]:
file=open("example.txt","a")
file.write("Lets learn file handling!/n")
file.close()

In [ ]:
file=open("example.txt","r")
content=file.read()
print(content)
file.close()

Lets learn file handling!/nLets learn file handling!/n

In [ ]:
file=open("self.txt","w")
file.write("My name is fathima.")
file.close()

In [ ]:
file=open("self.txt","a")
file.write("I am coming from Triprayar.I am 20 years old ")
file.close()

In [ ]:
file=open("self.txt","r")
content=file.read()
print(content)
file.close()

I am coming from Triprayar.I am 20 years oldI am coming from Triprayar.I am 20 years old

In [ ]:
file=open("fathima.txt","x")
file.write("This is a newly created file using 'x' mode.\n")
file.close()
print("file created and closed succesfully")

file created and closed succesfully

In [ ]:
file=open("fathima.txt","r")
content=file.read()
print(content)
file.close()

This is a newly created file using 'x' mode.

In [ ]:
with open("notes.txt","x") as f:
  text=input("Enter something:")
  f.write(text)

with open("notes.txt","r") as f:
  print("file contents: ",f.read())

Enter something:hello python
file contents:  hello python

# Questions

1.Create a text file named sample.txt and write some text into it.

In [ ]:
file=open("sample1.txt","w")
file.write("Hello , My name is fathima.\n")
file.close()

2.Read and display the contents of a text file.

In [ ]:
file=open("sample1.txt","r")
content=file.read()
print(content)
file.close()

Hello , My name is fathima

3.Append new text to an existing file without deleting old content.

In [ ]:
file=open("sample1.txt","a")
file.write("I'am from triprayar")
file.close()

4.Read a file line by line and print each line with its line number

In [ ]:
file=open("sample1.txt","r")
for line in file:
  print(line.strip())
file.close()

I'am from triprayar

5.Count the number of words, lines, and characters in a file.

In [ ]:
file=open("kerala.txt","w")
file.write("Kerala often called Gods Own Country is a beautiful state in the southwestern part of india.\n")
file.write("Known for its lush greenery,serene backwaters,and rich cultural heritage.\n")
file.write("It has a long coastline along the Arabian Sea and is famous for its hill station,beaches and wildlife sanctuaries.\n" )
file.write("Kerala is also renowned for its high literacy rate,traditional art forms like Kathakali  and mohiniyattam and its delicious cuisine rich in spices and coconut flavours.\n ")
file.write("The state celebrates unity in diversity,with people of different religions and cultures living harmoniously.")
file.close()

In [ ]:
file=open("kerala.txt","r")
content=file.read()
a=content.split()

print(len(a))

83

# Threading

In [ ]:
import threading

def task():
  print("thread running")

thread=threading.Thread(target=task)
thread.start()

thread.join()

thread running

In [ ]:
import threading

def task1():
  print("Task1")

def task2():
  print("Task2")

t1=threading.Thread(target=task1)
t2=threading.Thread(target=task2)

t1.start()
t2.start()

t1.join()
t2.join()

Task1
Task2

In [ ]:
import threading

def print_numbers():
  for i in range(5):
    print(i)

thread=threading.Thread(target=print_numbers)
thread.start()
thread.join()

0
1
2
3
4

In [ ]:
import threading
import time

def download_file(file):
  print(f"Downloading{file}....")
  time.sleep(2)
  print(f"{file} downloaded")

files=["file1.txt","file2.txt","file3.txt"]
thread=[threading.Thread(target=download_file,args=(f,))for f in files]

for t in thread:
  t.start()

for t in thread:
  t.join()

Downloadingfile1.txt....
Downloadingfile2.txt....
Downloadingfile3.txt....
file1.txt downloaded
file2.txt downloaded
file3.txt downloaded

In [ ]:
import threading
import time

def chef_work():
  for i in range(5):
    print(f"chef: Preparing dish {i + 1}....")
    time.sleep(2)
    if i==2:
      print("chef: Calling assistant to wash utensils.")
      time.sleep(1)
      assistant_thread=threading.Thread(target=assistant_work)
      assistant_thread.start()
      assistant_thread.join()
      print("chef: Assistant done.Resuming dish preparation.")
  print("chef: All dishes are prepared.")


def assistant_work():
  for j in range(3):
    print(f"Assistant: washing utensil {j + 1}....")
    time.sleep(2)
  print("Assistant: All utensils are clean.")


print("kitchen: starting work.")
chef_thread=threading.Thread(target=chef_work)
chef_thread.start()
chef_thread.join()
print("kitchen: All work completed.")

kitchen: starting work.
chef: Preparing dish 1....
chef: Preparing dish 2....
chef: Preparing dish 3....
chef: Calling assistant to wash utensils.
Assistant: washing utensil 1....
Assistant: washing utensil 2....
Assistant: washing utensil 3....
Assistant: All utensils are clean.
chef: Assistant done.Resuming dish preparation.
chef: Preparing dish 4....
chef: Preparing dish 5....
chef: All dishes are prepared.
kitchen: All work completed.

##Question
Write a Python program using threading to simulate music playback and lyrics downloading:

Music playback runs in one thread for 5 seconds, printing a message each second.
During the 3rd second, a separate thread starts to simulate downloading lyrics, which takes 3 seconds.
Ensure the music playback waits for the lyrics to finish downloading before continuing.



**Output**

Music Player: Starting music playback.
Music Player: Playing music... 1 seconds
Music Player: Playing music... 2 seconds
Music Player: Playing music... 3 seconds
Music Player: Downloading lyrics in the background.
  Downloading lyrics... 1 seconds
  Downloading lyrics... 2 seconds
  Downloading lyrics... 3 seconds
  Lyrics download completed.
Music Player: Lyrics downloaded.
Music Player: Playing music... 4 seconds
Music Player: Playing music... 5 seconds
Music Player: Playback ended

In [ ]:
import threading
import time

def music_playback():
  for i in range(5):
    print(f"Music player: Playing music {i + 1} seconds")
    time.sleep(2)
    if i==2:
      print("Music player: Downloading lyrics in the background")
      time.sleep(1)
      download_thread=threading.Thread(target=downloading_lyrics)
      download_thread.start()
      download_thread.join()
      print("lyric download completed")


def downloading_lyrics():
  for j in range(3):
    print(f"Downloading lyrics: Downloading lyrics {j + 1} seconds")
    time.sleep(2)
  print("Music player: lyric downloaded")

print("Music player: Starting music playback")
music_thread=threading.Thread(target=music_playback)
music_thread.start()
music_thread.join()
print("Music player: Playback ended")

Music player: Starting music playback
Music player: Playing music 1 seconds
Music player: Playing music 2 seconds
Music player: Playing music 3 seconds
Music player: Downloading lyrics in the background
Downloading lyrics: Downloading lyrics 1 seconds
Downloading lyrics: Downloading lyrics 2 seconds
Downloading lyrics: Downloading lyrics 3 seconds
Music player: lyric downloaded
lyric download completed
Music player: Playing music 4 seconds
Music player: Playing music 5 seconds
Music player: Playback ended

#Regular Expression

In [ ]:
import re
txt="The rain in Spain"
x=re.search("^The.*Spain$",txt)
if x:
  print("YES! We have a match")
else:
  print("No match")

YES! We have a match

In [ ]:
import re
txt="The rain in Spain"
x=re.findall("ai",txt)
print(x)

['ai', 'ai']

In [ ]:
import re
txt="The rain in Spain"
x=re.findall("portugal",txt)
print(x)
if (x):
  print("YES!We have a match")
else:
  print("No match")

[]
No match

In [ ]:
import re
txt="The rain in Spain"
x=re.search("\s",txt)
print("The first white-space character is located in position:",x.start())

The first white-space character is located in position: 3

<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-4136268616.py:3: SyntaxWarning: invalid escape sequence '\s'
  x=re.search("\s",txt)

In [ ]:
import re
txt="The rain in Spain"
x=re.split("\s",txt)
print(x)

TypeError: split() missing 1 required positional argument: 'string'

In [ ]:
txt="The rain in Spain" #split the string only at the first occurance
x=re.split("\s",txt,1)
print(x)

['The', 'rain in Spain']

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-2349649067.py:2: SyntaxWarning: invalid escape sequence '\s'
  x=re.split("\s",txt,1)

In [ ]:
txt="The rain in Spain"
x=re.sub("\s","9",txt)
print(x)

The9rain9in9Spain

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-3902256395.py:2: SyntaxWarning: invalid escape sequence '\s'
  x=re.sub("\s","9",txt)

In [ ]:
txt="The rain in Spain"
x=re.sub("\s","9",txt,1)
print(x)

The9rain in Spain

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-3492300729.py:2: SyntaxWarning: invalid escape sequence '\s'
  x=re.sub("\s","9",txt,1)

In [ ]:
import re
txt="The rain in Spain"
x=re.search("ai",txt)
print(x)

<re.Match object; span=(5, 7), match='ai'>

In [ ]:
import re
txt="the rain in Spain"
x=re.search(r"\bS\w+",txt)
print(x.span())

(12, 17)

In [ ]:
import re
txt="The rain in Spain"
x=re.search(r"\bS\w+",txt)
print(x.group)

<built-in method group of re.Match object at 0x787744a176c0>

In [ ]:
import re
txt="The rain in Spain"
x=re.search(r"\bS\w+",txt)
print(x.string)

The rain in Spain